In [1]:
import pandas as pd

In [2]:
# Carregar os dados das estações
stations_df = pd.read_csv('/home/lincprog/Documentos/Gabi/class_regress/stations.csv')

In [3]:
stations_df.head()

,region,state,city_station,id_station,lat,lon,lvl,record_first,record_last
0,CO,DF,BRASILIA,A001,"-15,78944444","-47,92583332","1159,54",2000-05-07,2024-09-30
1,NE,BA,SALVADOR,A401,"-13,01666666","-38,51666666","51,41",2000-05-13,2024-09-30
2,N,AM,MANAUS,A101,"-3,10333333","-60,01638888","61,25",2000-05-09,2024-09-30
3,SE,RJ,ECOLOGIA AGRICOLA,A601,"-22,8","-43,68333333",33,2000-05-07,2024-09-30
4,S,RS,PORTO ALEGRE,A801,"-30,05","-51,16666666","46,97",2000-09-22,2024-09-30

In [4]:
stations_df['id_station'].nunique()

615

In [5]:
stations_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 615 entries, 0 to 614
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   region        615 non-null    object
 1   state         615 non-null    object
 2   city_station  615 non-null    object
 3   id_station    615 non-null    object
 4   lat           615 non-null    object
 5   lon           615 non-null    object
 6   lvl           615 non-null    object
 7   record_first  615 non-null    object
 8   record_last   615 non-null    object
dtypes: object(9)
memory usage: 43.4+ KB

In [6]:
tempdf = pd.read_csv('/home/lincprog/Documentos/Gabi/class_regress/merged_weather_data_2020_2024.csv')

In [7]:
tempdf.head()

,ESTACAO,DATA (YYYY-MM-DD),rain_max,rad_max,temp_avg,temp_max,temp_min,hum_max,hum_min,wind_max,wind_avg
0,A001,2020-01-01,0.2,2426.5,21.162500,25.2,18.7,94.0,56.0,8.9,1.516667
1,A001,2020-01-02,0.0,2899.6,21.879167,27.1,19.1,92.0,54.0,8.0,2.783333
2,A001,2020-01-03,15.0,2925.5,21.395833,27.6,18.3,95.0,55.0,10.8,2.625000
3,A001,2020-01-04,6.0,2925.8,20.300000,25.2,18.8,95.0,65.0,13.0,3.437500
4,A001,2020-01-05,10.6,1564.2,19.120833,23.0,17.4,96.0,79.0,9.0,2.133333

In [8]:
tempdf['ESTACAO'].nunique()

592

In [9]:
tempdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 774965 entries, 0 to 774964
Data columns (total 11 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   ESTACAO            774965 non-null  object
 1   DATA (YYYY-MM-DD)  774965 non-null  object
 2   rain_max           697872 non-null  float64
 3   rad_max            754951 non-null  float64
 4   temp_avg           769934 non-null  float64
 5   temp_max           768945 non-null  float64
 6   temp_min           769047 non-null  float64
 7   hum_max            747864 non-null  float64
 8   hum_min            747250 non-null  float64
 9   wind_max           730871 non-null  float64
 10  wind_avg           731498 non-null  float64
dtypes: float64(9), object(2)
memory usage: 65.0+ MB

In [10]:
# Selecionar apenas as colunas necessárias
stations_df = stations_df[['region', 'state', 'city_station', 'id_station', 'lat', 'lon']]

In [11]:
# Mesclar com o dataset principal com base no ID da estação
tempdf = pd.merge(tempdf, stations_df, left_on='ESTACAO', right_on='id_station', how='left')

# Verificar o resultado do merge
print(tempdf.head())

  ESTACAO DATA (YYYY-MM-DD)  rain_max  rad_max   temp_avg  temp_max  temp_min  \
0    A001        2020-01-01       0.2   2426.5  21.162500      25.2      18.7
1    A001        2020-01-02       0.0   2899.6  21.879167      27.1      19.1
2    A001        2020-01-03      15.0   2925.5  21.395833      27.6      18.3
3    A001        2020-01-04       6.0   2925.8  20.300000      25.2      18.8
4    A001        2020-01-05      10.6   1564.2  19.120833      23.0      17.4

   hum_max  hum_min  wind_max  wind_avg region state city_station id_station  \
0     94.0     56.0       8.9  1.516667     CO    DF     BRASILIA       A001
1     92.0     54.0       8.0  2.783333     CO    DF     BRASILIA       A001
2     95.0     55.0      10.8  2.625000     CO    DF     BRASILIA       A001
3     95.0     65.0      13.0  3.437500     CO    DF     BRASILIA       A001
4     96.0     79.0       9.0  2.133333     CO    DF     BRASILIA       A001

            lat           lon
0  -15,78944444  -47,92583332
1  -15,78944444  -47,92583332
2  -15,78944444  -47,92583332
3  -15,78944444  -47,92583332
4  -15,78944444  -47,92583332

In [12]:
# Verificar o resultado do merge
tempdf.head()

,ESTACAO,DATA (YYYY-MM-DD),rain_max,rad_max,temp_avg,temp_max,temp_min,hum_max,hum_min,wind_max,wind_avg,region,state,city_station,id_station,lat,lon
0,A001,2020-01-01,0.2,2426.5,21.162500,25.2,18.7,94.0,56.0,8.9,1.516667,CO,DF,BRASILIA,A001,"-15,78944444","-47,92583332"
1,A001,2020-01-02,0.0,2899.6,21.879167,27.1,19.1,92.0,54.0,8.0,2.783333,CO,DF,BRASILIA,A001,"-15,78944444","-47,92583332"
2,A001,2020-01-03,15.0,2925.5,21.395833,27.6,18.3,95.0,55.0,10.8,2.625000,CO,DF,BRASILIA,A001,"-15,78944444","-47,92583332"
3,A001,2020-01-04,6.0,2925.8,20.300000,25.2,18.8,95.0,65.0,13.0,3.437500,CO,DF,BRASILIA,A001,"-15,78944444","-47,92583332"
4,A001,2020-01-05,10.6,1564.2,19.120833,23.0,17.4,96.0,79.0,9.0,2.133333,CO,DF,BRASILIA,A001,"-15,78944444","-47,92583332"

In [13]:
tempdf.to_csv('/home/lincprog/Documentos/Gabi/class_regress/weather_data_2020_2024_wstations.csv')